@import 'src/styles/Theme/_theme.scss';

* {
  --hoverCalender: rgba(0, 0, 0, 0.06);

  overflow-style: overlay;
}

// Lang EN
.en {
  .ant-picker-date-panel {
    .ant-picker-cell-in-view {
      &:last-child,
      &:first-child {
        color: $colorPrimaryRed;
      }
    }
  }
}

// Lang VN
.vn {
  .ant-picker-date-panel {
    .ant-picker-cell-in-view {
      &:last-child,
      &:nth-last-child(2) {
        color: $colorPrimaryRed;
      }
    }
  }
}

.style-range-picker-popover {
  .ant-picker-cell .ant-picker-cell-inner {
    border-radius: 10px;
  }

  .ant-picker-panel-container {
    border-radius: 10px;

    .ant-picker-panel {
      padding: 16px 18px;

      &:first-child {
        border-right: 1px solid var(--borderInput);
      }
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: '';
    bottom: 5px;
    height: 2px;
    width: 12px;
    border-radius: 6px;
    top: unset;
    right: unset;
    border: unset;
  }

  .ant-picker-month-btn {
    font-size: 17px;
    font-weight: 700;
  }

  .ant-picker-year-btn {
    font-size: 17px;
    font-weight: 700;
    color: var(--blue);

    &:hover {
      color: $colorPrimaryYellow;
    }
  }

  .ant-picker-header-view button:hover {
    color: $colorPrimaryYellow;
  }

  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background-color: rgba(255, 232, 165, 0.86);
    border-radius: 10px !important;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: $colorPrimaryYellow;
      border-radius: 10px;
      transform: unset;
      height: unset;
      width: unset;
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(
      .ant-picker-cell-range-end
    )
    .ant-picker-cell-inner {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: $colorPrimaryYellow;
      right: -32px;
      border-radius: 10px;
      transform: translateX(-23px) scaleY(0.6) scaleX(0.4) rotate(45deg);
    }

    &::before {
      right: 5.6px;
      border-bottom-right-radius: 11.2px;
      border-top-right-radius: 11.2px;
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(
      .ant-picker-cell-range-start
    )
    .ant-picker-cell-inner {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: $colorPrimaryYellow;
      border-radius: 10px;
      left: -32px;
      transform: translateX(23px) scaleY(0.6) scaleX(0.4) rotate(45deg);
    }

    &::before {
      left: 5.6px;
      border-bottom-left-radius: 11.2px;
      border-top-left-radius: 11.2px;
    }
  }

  .ant-picker-content {
    thead {
      tr {
        th {
          color: var(--textDefault);
          font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
          pointer-events: none;
        }
      }
    }

    tbody {
      .ant-picker-cell {
        &::before {
          height: 36px;
        }

        .ant-picker-cell-inner {
          height: 36px;
          width: 100%;
          line-height: 36px;
        }

        &::after {
          content: '';
        }
      }
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(
      .ant-picker-cell-range-start
    ):not(.ant-picker-cell-range-end)::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(
      .ant-picker-cell-range-start
    ):not(.ant-picker-cell-range-end)::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
    height: 36px;
    width: 100%;
    border: unset;
    background: #dfe3f3;
  }

  .ant-picker-cell-range-hover-start::after,
  .ant-picker-cell-range-hover-end::after,
  .ant-picker-cell-range-hover::after {
    left: 0;
  }

  tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after,
  tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
  .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(
      .ant-picker-cell-range-hover-edge-end-near-range
    )::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
    right: 0;
    border: unset;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after,
  tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
  .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(
      .ant-picker-cell-range-hover-edge-start-near-range
    )::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
    left: 0;
    border: unset;
  }

  .ant-picker-date-panel
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
    .ant-picker-cell-inner::after {
    left: 0;
  }

  .ant-picker-date-panel
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
    .ant-picker-cell-inner::after,
  .ant-picker-date-panel
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
    .ant-picker-cell-inner::after {
    background-color: rgba(255, 232, 165, 0.86);
  }

  .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
      .ant-picker-cell-range-end-single
    ).ant-picker-cell-range-hover-end::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
      .ant-picker-cell-range-start-single
    ).ant-picker-cell-range-hover-start::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before {
    background: rgba(255, 232, 165, 0.86);
  }

  .ant-picker-date-panel
    .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
    .ant-picker-cell-inner::after {
    right: 0;
  }

  .ant-picker-cell {
    &:last-child {
      &::before {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      .ant-picker-cell-inner {
        &::after {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }

    &:first-child {
      &::before {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }

      .ant-picker-cell-inner {
        &::after {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }
      }
    }
  }

  tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(
      .ant-picker-cell-range-start
    ):not(.ant-picker-cell-range-end)::after {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
  .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(
      .ant-picker-cell-range-end
    ):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
    .ant-picker-cell-inner {
    background: $colorPrimaryYellow;
    border-radius: 10px;
  }

  .ant-picker-cell-range-hover {
    .ant-picker-cell-inner {
      background: rgba(255, 232, 165, 0.86);
      border-radius: 0;
    }
  }

  .ant-picker-time-panel-column {
    padding: 10px;

    &:hover {
      overflow: overlay;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 100px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #d2d2d8;
      border-radius: 100px;
    }

    &.more-width {
      &::-webkit-scrollbar {
        width: 6px;
      }
    }
  }

  .ant-picker-time-panel-column
    > li.ant-picker-time-panel-cell-selected
    .ant-picker-time-panel-cell-inner {
    background: $colorPrimaryYellow;
    color: #fff;
  }

  .ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
    padding: 0;
    text-align: center;
    border-radius: 6px;
  }

  .ant-picker-ok {
    button {
      background: #074abd;
      border-radius: 6px;
      height: 30px;
      width: 42px;
    }
  }

  .ant-picker-panel .ant-picker-footer {
    padding-top: 10px;
  }

  .ant-picker-now-btn {
    color: #074abd;
  }
}
